<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.njnu.eamsbe.mapper.AlbumCategoryMapper">
    <insert id="insertAlbumCategory">
        #插入相册分类
        INSERT INTO album_categories (category_path, category_name, category_created_date)
        VALUES (#{categoryPath}, #{categoryName}, #{categoryCreateDate});
    </insert>
    <delete id="deleteAlbumCategoryById">
        #删除相册分类和对应的相册和相册里的照片
        DELETE album_categories, albums, photos
        FROM album_categories
                 LEFT JOIN albums ON album_categories.category_id = albums.category_id
                 LEFT JOIN photos ON albums.album_id = photos.album_id
        WHERE album_categories.category_id = #{categoryId};

    </delete>
    <select id="findAllAlbumCategory" resultType="edu.njnu.eamsbe.pojo.entity.VO.AlbumCategoryVO">
        SELECT album_categories.category_id AS categoryId,
               category_path                AS categoryPath,
               category_name                AS categoryName,
               category_created_date        AS categoryCreateDate,
               COUNT(albums.album_id)       AS albumCount
        FROM album_categories
                 LEFT JOIN
             albums ON album_categories.category_id = albums.category_id
        GROUP BY album_categories.category_id, category_path, category_name, category_created_date;

    </select>


</mapper>