<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.njnu.eamsbe.mapper.PhotoMapper">
    <insert id="addPhoto">
        INSERT INTO photos
        VALUES (#{photoId},
                #{albumId},
                #{photoName},
                #{photoDescription},
                #{photoUrl},
                #{isCover},
                #{userId},
                #{adminId}
            )
    </insert>
    <delete id="deletePhotoById">
        DELETE
        FROM photos
        WHERE photo_id = #{photoId}
    </delete>

    <select id="findPhotoByAlbumId" resultType="edu.njnu.eamsbe.pojo.entity.Photo">
        select photo_id          as photoId,
               album_id          as albumId,
               photo_name        as photoName,
               photo_description as photoDescription,
               photo_url         as photoUrl,
               is_cover          as isCover,
               user_id           as userId,
               admin_id          as adminId
        from photos
        where album_id = #{albumId}
    </select>
</mapper>
